<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        .header {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
        }

        .header-con {
            flex-direction: column;
            width: 100%;
        }

        .header-item {
            justify-content: space-around;
            float: left;
            margin: 2%;
            border: black;
            background: #66339926;
            padding: 1%;
            border-radius: 3px;
        }

        .block {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
        }

        .block-con {
            flex-direction: column;
            width: 100%;
        }

        .block-item {
            justify-content: space-around;
            float: left;
            margin: 2%;
            border: black;
            background: #99335926;
            padding: 1%;
            border-radius: 3px;
        }
    </style>
    <br><br>
    {{.TITLE}}
    <div id="result"></div>
    <iframe id="preview" style="width:100%;height:fit-content;"></iframe>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- functionality -->
    <script>
        function loadCSS() {
            var $head = $("#preview").contents().find("head");
            $head.html("<style>" + "{{.CSS}}" + "</style>");
        };
        function loadJS() {
            var scriptTag = "<script>" + "{{.JS}}" + "<\/script>";
            var previewFrame2 = document.getElementById('preview');
            var preview2 = previewFrame2.contentDocument || previewFrame2.contentWindow.document;
            preview2.open();
            preview2.write("{{.HTML}}" + scriptTag);
            preview2.close();
            loadCSS();
        };
        loadJS();
    </Script>
</body>

</html>