<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
  <style>
    .header {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }

    .header-con {
      flex-direction: column;
      width: 100%;
    }

    .header-item {
      justify-content: space-around;
      float: left;
      margin: 2%;
      border: black;
      background: #66339926;
      padding: 1%;
      border-radius: 3px;
    }

    .block {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }

    .block-con {
      flex-direction: column;
      width: 100%;
    }

    .block-item {
      justify-content: space-around;
      float: left;
      margin: 2%;
      border: black;
      background: #99335926;
      padding: 1%;
      border-radius: 3px;
      width: 10%;
      font-size: 92%;
    }

    .block-item a {
      white-space: nowrap;
    }

    .btn {
      padding: 6%;
      width: 100%;
    }
  </style>
  <div class="header">
    <div class="header-con">
      <div class="header-item">
        <a href="/dashboard-home/{{.Userid}}">Home</a>
      </div>
      <div class="header-item">
        <a href="/newpage/{{.Userid}}">Create A New Page</a>
      </div>
    </div>
  </div>

  List of your pages <br>
  {{ if .ID }}
  you have pages!!
  {{ else }}
  You have no more pages
  {{ end }}
  <br><br>
  <div class="block">
    <div class="block-con">
      {{range $i, $title := .TITLE }}
      <div class="block-item">
        {{$url := index $.URL $i}}
        {{$pageid := index $.ID $i}}
        {{$userid := $.Userid}}
        <a class="block-item" style="text-align:center;width: 100%;"
          href="/edit/{{$userid}}/{{$pageid}}/{{$url}}/{{$title}}">
          {{$title}}
        </a>
        <br>
        <button class="block-item btn {{$pageid}}" button class="{{$pageid}}">
          Delete
        </button>
      </div>

      <script>
      $(function() {
        $(".{{$pageid}}").click(function () {
          var id = '{{$pageid}}';
          var userid = '{{$userid}}';
          var url = '{{$url}}';
          $.ajax({
            type: "POST",
            url: "/delete/${userid}/${id}/${url}",
            data: { id, userid, url },
            success: function (data) {
              console.log(data);
            }
          });
          $(".{{$pageid}}").parent().remove();
        });
      });
      </script>
      {{end}}
    </div>
  </div>
</body>

</html>