<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/views/style/show-hint.css">
  <link rel="stylesheet" href="/views/style/style.css">
  <link rel="stylesheet" href="https://codemirror.net/theme/dracula.css">
  <link rel="stylesheet" href="https://codemirror.net/addon/lint/lint.css">
  <link rel="stylesheet" href="/views/style/lib/codemirror.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new page</title>
</head>
<style>
  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .header-con {
    flex-direction: column;
    width: 100%;
  }

  .header-item {
    justify-content: space-around;
    float: left;
    margin: 2%;
    border: black;
    background: #66339926;
    padding: 1%;
    border-radius: 3px;
  }

  #code-js {
    width: 810px;
    height: 200px;
    position: relative !important;
  }
</style>

<body>
  <div class="header">
    <div class="header-con">
      <div class="header-item">
        <a href="/dashboard-home/{{.User}}">Home</a>
      </div>
      <div class="header-item">
        <a href="/dashboardpages/{{.User}}">Pages</a>
      </div>

    </div>
  </div>
 <br>
  <form action="/editor/{{.User}}/{{.Pageid}}/{{.URL}}" id="editor" method="POST">
    <label for="URL"><b>URL</b></label>
    <input type="text"  name="url" placeholder="Enter your URL" required>
    <label for="Title"><b>Title</b></label>
    <input type="Title" name="title" placeholder="Enter your Title" required>
    <div class="flex-con">
      <div class="control-group html">
        <label class="control-label" for="textarea2">Code</label>
        <div class="controls">
          <textarea name="html" class="code CodeMirror-code code CodeMirror cm-s-dracula" name="code" id="code"
            cols="40" rows="5" placeholder="Enter code here ..." style="width: 810px; height: 200px">

</textarea>
        </div>
      </div>

      <div class="control-group css">
        <label class="control-label " for="textarea3">CSS</label>
        <div class="controls">
          <textarea name="css" id="codert" class="code CodeMirror-code code CodeMirror cm-s-dracula" name="codeCSS"
            cols="40" rows="5" placeholder="Enter CSS code here ..." style="width: 810px; height: 200px">
       
</textarea>
        </div>
      </div>

      <div class="control-group js">
        <label class="control-label" for="textarea3">javascripts</label>
        <div class="controls">
          <textarea name="js" id="code-js" class="code CodeMirror-code code CodeMirror cm-s-dracula" autocorrect="off"
            autocapitalize="off" spellcheck="false" tabindex="0">
      
      </textarea>
        </div>
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>
  <div id="result"></div>
  <iframe id="preview"></iframe>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://codemirror.net/lib/codemirror.js"></script>
  <script src="https://codemirror.net/addon/edit/matchbrackets.js"></script>
  <script src="https://codemirror.net/mode/javascript/javascript.js"></script>
  <script src="https://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
  <script src="https://codemirror.net/mode/xml/xml.js"></script>
  <script src="https://codemirror.net/mode/css/css.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
  <script src="https://codemirror.net/addon/lint/lint.js"></script>
  <script src="https://codemirror.net/addon/lint/javascript-lint.js"></script>
  <script src="https://rawgit.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
  <script src="https://codemirror.net/addon/lint/css-lint.js"></script>
  <script src="https://codemirror.net/addon/lint/html-lint.js"></script>
  <script src="http://csslint.net/js/csslint.js"></script>
  <script src="https://codemirror.net/addon/edit/closetag.js"></script>
  <script src="https://codemirror.net/addon/selection/active-line.js"></script>
  <script src="https://codemirror.net/addon/fold/foldcode.js"></script>
  <script src="/views/scripts/javascript-hint.js"></script>
  <script src="/views/scripts/show-hint.js"></script>
  <script src="/views/scripts/editor.js"></script>
</body>

</html>